@page
@model Proiect_Paula_Iscu.Pages.Gadgets.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Gadget</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gadget.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gadget.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gadget.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gadget.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gadget.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gadget.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gadget.PublishingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gadget.PublishingDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gadget.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gadget.Color)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Gadget.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
