@page
@model Proiect_Paula_Iscu.Pages.Gadgets.IndexModel

@{
    ViewData["Title"] = "Store";
}



<p>
    <a asp-page="Create">Add</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Gadget[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gadget[0].Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gadget[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gadget[0].Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gadget[0].PublishingDate)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Gadget) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishingDate)
            </td>
            

            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a> |
            </td>
        </tr>
}
    </tbody>
</table>
